@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

@media (min-height: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: #141423;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 90px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  max-width: 1080px;
}

.footer .ul-footer {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.footer .ul-footer a {
  text-decoration: none;
}

.footer .ul-footer .li-title {
  font-weight: 500;
  font-size: 16px;
  color: rgb(104, 104, 104);
  padding: 10px 0px 5px 10px;
}

.footer .ul-footer .li-footer {
  font-weight: 500;
  color: rgb(223, 223, 223);
  font-size: 21px;
  margin: 20px 0 0 10px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background: rgb(126, 45, 219);
  height: 13vh;
}

.footer-logo-container {
  padding: 40px 0;
  width: 100%;
  display: flex;
  color: #f8f7ff;
}

.footer-logo h5 {
  font-size: 24px;
  color: #f8f7ff;
}

.copyright-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
  width: 100%;
}

.copyright-container h3 {
  color: #b9b9b9;
  font-size: 12px;
}
